/MyProject/nbproject/private/
/MyProject/build/
/Calculator/nbproject/private/
/Calculator/build/
/Circle/nbproject/private/
/CirleJSP/nbproject/private/
/CirleJSP/build/
/LoginHw/nbproject/private/
/LoginHw/build/
/Exam01/nbproject/private/
/Exam01/build/
/Example/nbproject/private/
/Example/build/
